.wrapper{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    overflow-y: auto;
}
.header{
    width: 100%;
    height: 2rem;
   /* font-weight: 700;*/
    color: #343434;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.header > a {
	position: absolute;
	left: 0.6rem;
	color: darkgrey;
	font-size: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/fanhui.png);
	background-size: 100% 100%;
	
}
.main{
    width: 100%;
    height: 92%;
    overflow-y: auto;
    background-color: #ffffff;
}
.box-header{
    width: 100%;
    height: 1.4rem;
    background-color: rgb(242,242,242);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-indent: 0.6rem;
    font-size: 0.8rem;
}
.box-content{
    width: 100%;
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content-bar{
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}
.content-bar .first-text{
    margin-left: 0.6rem;
    font-size: 0.8rem;
}
.content-bar .first-text > span:nth-child(2){
	color:#FF3300;
}
.content-bar .second-text{
    margin-right: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: #0099FF;
}
.content-bar .third-text{
    margin-left: 0.6rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: #999999;
}
.content-bar .fourth-text{
    margin-right: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: #343434;
}
.Nodata{
	margin: 0 auto;
	text-align: center;
	color: #999999;
}
