.help {
	width: 100%;
	background-color: white;
}
.help_title {
	height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 0.5rem;
	font-size: 0.8rem;
	color: #1C5CFF;
	background-color: #F5F5F5;
}
.help_list_title {
	line-height: 2.5rem;
	font-size: 0.8rem;
	color: #5F5F5F;
	background-color: white;
	padding: 0 0.5rem;
}
.help_list_content {
	font-size: 0.8rem;
	color: #343434;
	padding: 0.5rem 0.5rem;
	background-color: #F6F6F6;
}
.line {
	height: 0.05rem;
	background-color: #E6E6E6;
	margin-left: 0.5rem;
}
.contentd{
	max-height: 32rem;
    overflow-y: scroll;
    margin-top: 1.5rem;
}
.page{
	background-color: #F6F6F6;
}
.help-top{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	background: white;
}
.help-top > a{
	float: left;
	font-size: 1.6rem;
	/*padding-left: 0.6rem; */
	color: darkgray;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/fanhui.png);
	background-size: 100% 100%;
	margin-top: 5px;
    margin-left: 11px;
}
.help-top > span{
	margin-left: -2.5rem;
	font-size: 1rem; 
	/*font-weight: bold;*/
}
			