body{
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}
 
#swiper1 {
	height: 7rem;
	width: 100%;
	padding-bottom: 0 !important;
}
.swiper-slide img{
	width: 100%;
	height: auto;
}
.swiper-pagination-bullet {
	background-color: white !important;
	width: .3rem !important;
	height: .3rem !important;
}
.swiper-pagination-bullet-active {
	background-color: #FF4040 !important;
}
.message {
	width: 100%;
	height: 1.2rem;
	background-color: white;
	margin-bottom: 0.05rem;
}
.laba {
	float: left;
	width: 1rem;
	height: 1rem;
	background-image: url(../img/laba.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0.7rem 0.7rem;
	margin-right: 0.4rem;
	margin-left: 0.4rem;
	margin-top: 0.1rem;
}
#swiper2 {
	float: left;
	height: 1rem !important;
	width: calc(100% - 2.4rem);
	padding-bottom: 0 !important;
	font-size: 0.65rem;
	color: #5B5B5B;
	margin-top: 0.2rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#swiper2 .swiper-wrapper{
	height: 1rem;
	
}
.swiper-slide{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div_title {
	background-color: white;
	padding-left: 0.6rem;
	font-size: 0.9rem;
	color: #343434;
	font-weight: 700;
	width: 100%;
	line-height: 0.9rem;
	margin: 0.5rem 0;
}
.classify {
	width: 100%;
	height: 6.5rem;
	background-color: white;
	margin-bottom: 0.2rem;
}
.classify_item {
	height: 3.25rem;
	float: left;
	text-align: left;
	width: 50%;
}
.classify_left {
	margin-left: 1rem;
	margin-top: 0.45rem;
	float: left;
}
.classify_left img {
	width: 2.3rem;
	height: 2.3rem;
}
.classify_right {
	margin-left: 0.2rem;
	float: left;
	margin-top: 0.45rem;
	width: 4rem;
}
.classify_right div{
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-weight: 600;
}
.classify_title {
	width: 100%;
	font-size: 0.8rem;
	color: #343434;
}
.classify_tip {
	width: 100%;
	font-size: 0.65rem;
	color: #828282;
}
.classify2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
.classify_item2 {
	width: 7.95rem;
	height: 3.6rem;
	margin: 0 0.6rem;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 0.1rem thistle;
}
.classify2_top {
	position: absolute;
	left: 0;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-image: url(../img/huo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.classify2_title {
	margin: 0.8rem 0.65rem 0;
	text-align: center;
	font-size: 0.9rem;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.classify2_tip {
	margin: 0 0.65rem;
	text-align: center;
	font-size: 0.6rem;
	font-weight: 100;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.hot {
	width: 100%;
	background: white;
	/*padding: 0 0.6rem;*/
}
.hot_title {
	width: 100%;
	line-height: 0.9rem;
	padding: 0.6rem 0 0 0.6rem;
	padding-bottom: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 0.9rem;
	font-weight: 700;
	color: #343434;
	background: white;
	/*display: flex;*/

}
.box-item img{
	border: 1px solid #d7dadf;
	border-radius: 50%;
	display: block;
	float: left;
	width: 70px;
	height: 70px;
	line-height: 100%;

}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -3px !important;
}
.swiper-pagination-bullet{
    background: rgb(248,127,12) !important;
}
.mescroll-totop {
	bottom: 4rem;
}
.Recommends{
	width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* align-items: center; */
    /*align-items: center;*/
    background-color: #ffffff;
    margin-top: 5px;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}
.Recommends-left{
	width: 46%;
    margin-left: 6px;
}
.Recommends-right{
    width: 46%;
    margin-right: 6px;
}
.Recommends-right>div{
	width: 100%;
    height: 56.5px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
}
.Recommends-right>div:nth-child(2){
	margin-top: 9px;
}
.Recommends-right>div:last-child{
	margin-top: 9px;
}
.Recommends-left-top{
	width: 100%;
    height: 121px;
    background: url(../img/daikuanBm.png);
    /*background: rgba(255,228,219,1);*/
    background-size: 100% 100%;
    border-radius: 5px;
    font-size: 12px;
    position: relative;
}
.Recommends-left-top>div:first-child{
	font-size: 19px;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 13px;;
}
.Recommends-left-top>div:nth-child(2){
	padding-left: 12px;
	color: lightslategray;;
}
.Recommends-left-top>div:last-child{
	position: absolute;
    width: 40px;
    height: 40px;
   /* background: url(../img/daik.png);*/
    background-size: 100% 100%;
    bottom: 11px;
    right: 10px;
}
.Recommends-left-bottom{
	width: 100%;
    height: 56.5px;
    /*background: url(../img/daeBm.jpg);*/
    background: rgba(254,244,243,1);
    background-size: 100% 100%;
    margin-top: 9px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
  
}
.Recommends-rightone{
	/*background: url(../img/daeBm.jpg);*/
	background: rgba(255,252,233,1);
    background-size: 100% 100%;
}
.Recommends-rightsend{
	/*background: url(../img/yidingBm.jpg);*/
	background: rgba(229,248,252,1);
    background-size: 100% 100%;
}
.Recommends-rightstree{
	/*background: url(../img/xiaoeBm.jpg);*/
	background: rgba(263,243,251,1);
    background-size: 100% 100%;
}
.Recommends-left-bottom>div>div:first-child{
	font-size: 15px;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 1px;
}
.Recommends-left-bottom>div>div:last-child{
	padding-left: 12px;
	color: lightslategray;
}
.Recommends-left-bottom>div:last-child>div{
	width: 40px;
	height: 40px; 
	border-radius: 50%;
	/*background: url(../img/checkbox_pressed.png) no-repeat; */
	background: url(../img/yiding.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 9px;
	margin-right: 9px;
}
.item{
	width: 95%;
    margin: 0 auto;
	background: white;
    border-radius: 5px;
    margin-top: 0.05rem;
    padding: 0 0.5rem;
}
.itemBoders{
	border-bottom: 1px solid rgba(236,236,236,1);
    padding-bottom: 8px;
    padding-top: 8px;
}
.itemBoders:last-child{
	border-bottom: none;
    padding-bottom: 8px;
}
.item-top{
	width: 100%;
	height: 1.8rem; 
	margin: 0 auto;
	display: flex;
	/*justify-content:space-between;*/
	align-items:center;
}
.item-logo{
	width: 1rem;
    height: 1rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    /* border-radius: 50%; */
    /* border: 1px silver solid; */
    /*margin-top: 9px;*/
}
.item-Labels{
	display: flex;
	align-items: center;
	font-size: 12px;
	margin-left: 13px;
	margin-right: auto;
}
.item-Labels>div{
	border: 1px rgb(114,174,253) solid;
    padding-left: 5px;
    padding-right: 6px;
    border-radius: 10px;
    padding-left: 6px;
	margin-left: 5px;
    color: rgb(114,174,253);
}
.item-Labels>div:first-child{
	padding-left: 5px;
	margin: 0;
}
.item-Con{
	width: 100%;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}

.item-Con>div:first-child{
	font-size: 25px;
    color: #FF5201;
    
}
.RecommendsTitlt{
	font-size: 15px;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 1px;
}
.Recommendstext{
	padding-left: 12px;
    color: lightslategray;
}
.RecommendsImg{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background: url(../img/checkbox_pressed.png) no-repeat;*/
   /*background: url(../img/xinkouzi.png) no-repeat;*/
    margin-top: 9px;
    margin-right: 12px;
}
.xinkouzi{	 
	  background: url(../img/daik.png) no-repeat;
	 background-size: 100% 100%;
}
.yiding{
	background: url(../img/xiaoe.png) no-repeat;
	background-size: 100% 100%;
}
.xiaoe{	
	 background: url(../img/xinkouzi.png) no-repeat;
	 background-size: 100% 100%;
}

.item-Con>div:last-child{
	
    text-align: center;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-loanName{
	font-size: 17px;
	padding-left: 0.3rem;
	line-height: 1.8rem;
	font-size: 15px;
    font-weight: bold;
}
.item-tit{
	display: flex;
	font-size: 14px;
	text-align: center;
	color: lightslategrey;
}
.item-tit > span,.item-titome > span{
	width: 4rem;
}
.item-titome{
	display: flex;
	font-size: 14px; 
	text-align: center;
	color: lightcoral;
}
.apples{
	width: 3.5rem;
	height: 1.2rem;
	/*background:rgb(248,184,111);*/
	background: #FF5201;
	font-size: 13px;
	line-height: 1.2rem;
	border-radius: 5px;
	text-align: center; 
	color: white;
}
.item-bottom{
	/*border-top: 1px solid rgb(240,240,240);*/
	width: 100%;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}


.item-bottom-Con{
	width: 95%;
	height: 1.55rem;
	margin: 0 auto; 
	display: flex;
	justify-content:space-between;
	align-items:center;
	font-size: 12px;
}
.item-keyword{
	padding-left: 0.5rem;
    color: #9c9b9a;
    width: 60%;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-applyCount{
	font-size: 12px; 
	color: #9c9b9a;
}
.item-applyCount-Number{
	font-size: 16px;
	color: #FF5201;
}
.mores{
	text-align: center;text-align: center;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #FF5201;
}






















