body{
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}
 
#swiper1 {
	height: 7rem;
	width: 100%;
	padding-bottom: 0 !important;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet {
	background-color: white !important;
	width: .3rem !important;
	height: .3rem !important;
}
.swiper-pagination-bullet-active {
	background-color: #FF4040 !important;
}
.message {
	width: 100%;
	height: 1.2rem;
	background-color: white;
	margin-bottom: 0.05rem;
}
.laba {
	float: left;
	width: 1rem;
	height: 1rem;
	background-image: url(../img/laba.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0.7rem 0.7rem;
	margin-right: 0.4rem;
	margin-left: 0.4rem;
	margin-top: 0.1rem;
}
#swiper2 {
	float: left;
	height: 1rem !important;
	width: calc(100% - 2.4rem);
	padding-bottom: 0 !important;
	font-size: 0.65rem;
	color: #5B5B5B;
	margin-top: 0.2rem;
}
#swiper2 .swiper-wrapper{
	height: 1rem;
}
.div_title {
	background-color: white;
	padding-left: 0.6rem;
	font-size: 0.9rem;
	color: #343434;
	font-weight: 700;
	width: 100%;
	line-height: 0.9rem;
	margin: 0.5rem 0;
}
.classify {
	width: 100%;
	height: 6.5rem;
	background-color: white;
	margin-bottom: 0.2rem;
}
.classify_item {
	height: 3.25rem;
	float: left;
	text-align: left;
	width: 50%;
}
.classify_left {
	margin-left: 1rem;
	margin-top: 0.45rem;
	float: left;
}
.classify_left img {
	width: 2.3rem;
	height: 2.3rem;
}
.classify_right {
	margin-left: 0.2rem;
	float: left;
	margin-top: 0.45rem;
	width: 4rem;
}
.classify_right div{
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-weight: 600;
}
.classify_title {
	width: 100%;
	font-size: 0.8rem;
	color: #343434;
}
.classify_tip {
	width: 100%;
	font-size: 0.65rem;
	color: #828282;
}
.classify2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
.classify_item2 {
	width: 7.95rem;
	height: 3.6rem;
	margin: 0 0.6rem;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 0.1rem thistle;
}
.classify2_top {
	position: absolute;
	left: 0;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-image: url(../img/huo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.classify2_title {
	margin: 0.8rem 0.65rem 0;
	text-align: center;
	font-size: 0.9rem;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.classify2_tip {
	margin: 0 0.65rem;
	text-align: center;
	font-size: 0.6rem;
	font-weight: 100;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.hot {
	width: 100%;
	padding: 0 0.6rem;
}
.hot_title {
	width: 100%;
	line-height: 0.9rem;
	padding: 0.6rem 0 0 0.6rem;
	padding-bottom: 0;
	margin-top: 0.5rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #343434;

}
.box-item img{
	border: 1px solid #d7dadf;
	border-radius: 50%;
	display: block;
	float: left;
	width: 70px;
	height: 70px;
	line-height: 100%;

}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -3px !important;
}
.swiper-pagination-bullet{
    background: rgb(248,127,12) !important;
}
.mescroll-totop {
	bottom: 4rem;
}
.Recommends{
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	margin-top: 0.5rem;
	padding-bottom: 0.7rem;
}
.item{
	background: white;
    border-radius: 5px;
    margin-top: 0.3rem;
}
.item-top{
	width: 95%;
	height: 4rem; 
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.item-logo{
	width: 3rem;
	height: 3rem;
	max-width: 3rem;
	max-height: 3rem;
	border-radius: 50%; 
	border: 1px silver solid;
}
.item-Con{
	width: 9.5rem;
	height: 3rem;
}
.item-loanName{
	font-size: 17px;
	padding-left: 0.3rem;
}
.item-tit{
	display: flex;
	font-size: 14px;
	text-align: center;
	color: lightslategrey;
}
.item-tit > span,.item-titome > span{
	width: 4rem;
}
.item-titome{
	display: flex;
	font-size: 14px; 
	text-align: center;
	color: lightcoral;
}
.apples{
	width: 3.5rem;
	height: 1.5rem;
	/*background:rgb(248,184,111);*/
	background: #FF5201;
	font-size: 13px;
	line-height: 1.5rem;
	border-radius: 5px;
	text-align: center; 
	color: white;
}
.item-bottom{
	border-top: 1px solid rgb(240,240,240);
}
.item-bottom-Con{
	width: 95%;
	height: 1.55rem;
	margin: 0 auto; 
	display: flex;
	justify-content:space-between;
	align-items:center;
	font-size: 12px;
}
.item-keyword{
	padding-left: 0.5rem;
    color: #9c9b9a;
    width: 60%;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-applyCount{
	font-size: 12px; 
	color: #9c9b9a;
}
.item-applyCount-Number{
	font-size: 16px;
	color: darkmagenta;
}























