.itemBoders{
	border-bottom: 2px solid rgba(236,236,236,1);
    padding-bottom: 8px;
    background: white;
}
.item{
	width: 95%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    margin-top: 0.05rem;
    padding: 0 0.6rem;
}
.item-top {
    width: 100%;
    height: 1.8rem;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.item-logo {
    width: 1rem;
    height: 1rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
}
.item-loanName {
    font-size: 17px;
    padding-left: 0.3rem;
    line-height: 1.8rem;
    font-size: 15px;
    font-weight: bold;
}
.item-Labels {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 13px;
    margin-right: auto;
}
.item-Labels>div {
    border: 1px  rgb(114,174,253) solid;
    color:  rgb(114,174,253);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 5px;
}
.item-Labels>div:first-child {
    padding-left: 5px;
    margin: 0;
}
.apples {
    width: 3.5rem;
    height: 1.2rem;
    /* background: rgb(248,184,111); */
    background: #FF5201;
    font-size: 13px;
    line-height: 1.2rem;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.item-Con {
    width: 100%;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}
.item-Con>div:first-child {
    font-size: 25px;
    color: #FF5201;
}
.item-Con>div:last-child {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-bottom {
    /* border-top: 1px solid rgb(240,240,240); */
    width: 100%;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}
.item-applyCount {
    font-size: 12px;
    color: #9c9b9a;
}
.item-applyCount-Number {
    font-size: 16px;
    color: #FF5201;
}
.shehzhi-top {
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background: white;
    position: fixed;
    border-bottom: 1px rgba(236,236,236,1) solid;
}
.shehzhi-top > a {
    float: left;
    font-size: 1.6rem;
    padding-left: 0.6rem;
    color: darkgray;
    width: 2rem;
    height: 2rem;
    background: url(../img/fanhui.png);
    background-size: 100% 100%;
    /* margin-top: 5px; */
    margin-left: 11px;
}
.shehzhi-top > span {
    margin-left: -2.5rem;
    font-size: 1rem;
    /* font-weight: bold; */
}
.AdvertisementTip{
	width: 100%;
    font-size: 15px;
    color: rgb(255, 82, 1);
    background: rgb(255, 82, 1);
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
    position: fixed;
    top: 40px;
}
