.{
	touch-action: none;
}
.page{
	background-color: white;
	position: absolute;
	z-index: 1;
}
.page .pageBGI{
	/*background: url(../img/bodyBM.png)no-repeat;*/
	/*background-size: 100% 100%;*/
	/*box-shadow: -4px 5px 33px #d0bfb2 inset;*/
	width: 100%;height: 100%; 
	position: absolute;
	z-index: -1;
	filter: blur(3px);
}
.top_title {
	width: 100%;
	height: 1rem;
	/*margin-top: 1.35rem;*/
	padding-top: 1.35rem;
}
.home {
	float: left;
	/*height: 1rem;*/
	/*width: calc(48% - 1.7rem);*/
	margin-left: 1.7rem;
	text-align: left;
	color: #7A7A7A;
	font-size: 1.7rem;
}
.regest {
	float: right;
	height: 1rem;
	width: calc(48% - 1.7rem);
	margin-right: 1.7rem;
	text-align: right;
	color: #1184FF;
	font-size: 0.7rem;
	display: none;
}
.logo {
	width: 7rem;
	height: 9.7rem;
	border-radius: 0.7rem;
	margin-left: calc(50% - 3.5rem);
	margin-top: 3rem;
	background: url(../img/what.png);
	position: relative;
	background-size: 100% 100%;
}
.is-animate.style3 > div { animation-name: style3; }

.is-animate > div {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

.is-animate > div:nth-child(1) { animation-delay: 0.0s }
.is-animate > div:nth-child(2) { animation-delay: 0.1s }
.is-animate > div:nth-child(3) { animation-delay: 0.2s }
.logo img {
	width: 100%;
	height: 100%;
	border-radius: 0.7rem;
}
.login_type {
	width: 100%;
	height: 2.2rem;
	/*margin-top: 1.9rem;*/
}
.login_type .left {
	float: left;
	width: calc(50% - 1rem);
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 0.8rem;
	color: #FF2E03;
	text-align: right;
}
.login_type .middle {
	float: left;
	width: 2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	color: #979797;
	text-align: center;
	font-weight: 100;
}
.login_type .right {
	float: left;
	width: calc(50% - 1rem);
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 0.8rem;
	color: #7A7A7A;
	text-align: left;
}
.select {
	color: #FF2E03;
}
.login_input {
	width: 12.8rem;
	height: 2rem;
	/*border-bottom: solid 0.05rem rgb(255, 102, 0);*/
	border-bottom: solid 0.05rem black;
	margin-left: calc(50% - 6.4rem);
	margin-bottom: 1rem;
	position: relative;
	cursor: pointer;
}
input {
	border: none;
	outline: none;
	height: 1.4rem;
	line-height: 1.4rem;
	font-size: 0.8rem;
	color: black;
	width: 8rem;
	margin-top: 0.5rem;
	background: none;
	cursor: pointer;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
color: #c8c5c1;
}
input::-moz-input-placeholder{ /*Mozilla Firefox*/
color: #c8c5c1;
}
input::-ms-input-placeholder{ /*Internet Explorer*/ 
color: #c8c5c1;
}
.clear {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-image: url(../img/clear.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-table;
	position: absolute;
	top: 0.5rem;
}
.show_pw {
	width: 1.2rem;
	height: 1.2rem;
	top: 0.4rem;
	border-radius: 0;
	background-image: url(../img/show_eye.png);
}
.hide_pw {
	width: 1.2rem;
	height: 1.2rem;
	top: 0.4rem;
	border-radius: 0;
	background-image: url(../img/hide_pw.png);
}
.login_input .timer {
	/*border: 1px #ff6600 solid;*/
	border: 1px black solid;
    border-radius: 5px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    cursor: pointer;
    font-size: 0.8rem;
    float: right;
    /* width: 4rem; */
    margin-top: 0.3rem;
    color: #1184FF;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: right;
}
.login_btn_active {
	width: 12.5rem;
	height: 2.2rem;
	line-height: 2.2rem;
	text-align: center;
	background-color: #FF5201;
	color: white;
	border-radius: 1.1rem;
	margin: 1.5rem auto 1rem;
	box-shadow: 0 6px 10px 0 #FFBB9C;
}
.login_btn {
    width: 12.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: white;
    border-radius: 1.1rem;
    margin: 1.5rem auto 1rem;
    background: #C5C5C5;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.login_yuyin {
	color: #949494;
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}