.content{
	overflow:visible;
}
.shehzhi-top{
	position: absolute; 
	top: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	background: white;
}
.shehzhi-top > a{
	float: left;
	font-size: 1.6rem;
	padding-left: 0.6rem; 
	color: darkgray;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/fanhui.png);
	background-size: 100% 100%;
	margin-top: 5px;
    margin-left: 11px;
}
.shehzhi-top > span{
	margin-left: -2.5rem;
	font-size: 1rem; 
	/*font-weight: bold;*/
}
.content-con{
	width: 100%;
	height: 100%;
	background: white;
	position: relative;
	top: 2.1rem;
	overflow-y: auto;
}
