
			.list_ul {
				list-style: none;
				overflow: hidden;
				width: 100%;
				margin-top: 0.4rem;
			}			
			
			.list-item {
				position: relative;
				height: 5.5rem;
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
			}
			
			.list-item[data-type="0"] {
				transform: translate3d(0, 0, 0);
			}
			
			.list-item[data-type="1"] {
				transform: translate3d(-5rem, 0, 0);
			}
			
			.list-box {
				padding: 0.5rem;
				background: #fff;
				display: flex;
				align-items: center;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				justify-content: flex-end;
				font-size: 0;
			}
			
			.list-item .list-img {
				display: block;
				width: 2.5rem;
				height: 2.5rem;
			}
			
			.list-item .list-content {
				padding: 0.25rem 0 0.25rem 0.5rem;
				position: relative;
				flex: 1;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				overflow: hidden;
			}
			
			.list-item .title {
				display: block;
				color: #333;
				overflow: hidden;
				font-size: 0.75rem;
				font-weight: bold;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list-item .tips {
				display: block;
				overflow: hidden;
				font-size: 0.6rem;
				color: #999;
				line-height: 1rem;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list-item .time {
				display: block;
				font-size: 0.6rem;
				position: absolute;
				right: 0;
				top: 0.25rem;
				color: #666;
			}
			
			.list-item .delete {
				width: 5rem;
				height: 5.3rem;
				background: #f8531b;
				font-size: 0.85rem;
				color: #fff;
				text-align: center;
				line-height: 5.3rem;
				position: absolute;
				top: 0;
				right: -5rem;
			}
 			.xx-top{
				padding: 0.5rem 0.75rem;
				position: relative;
				width: 100%;
				text-align: center;
				line-height: 1rem;
				background: white;
				display: flex;
    			align-items: center;
    			justify-content: space-between;
			}
			.xx-top > a{
   				width: 1.3rem;
				height: 1.3rem;
    			background: url(../img/fanhui.png);
    			background-size: 100% 100%;
			}
			.xx-top > span{
				font-size: 1rem; 
			}
			[v-cloak]{
				display: none;
			}
			.logos{
				width: 1.3rem;
				height: 1.3rem;
				
			}
			.names{
				margin-left: 0.5rem;
				margin-right: 0.5rem;
				font-size: 0.9rem;
				color: #333333;
			}
			.Ts{
				display: flex;
			}
			.TsList{
				border: 0.05rem red solid;
				margin-right: 0.25rem;
				height: 0.8rem;
				line-height: 0.8rem;
				font-size: 0.5rem;
				padding-left: 0.25rem;
				padding-right: 0.25rem;
			}
			.con{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.conL{
				width: 50%;
				height: 2.5rem;

			}
			.conR{
				width: 50%;
				height: 2.5rem;
				
			}
			.conLTop{
				font-size: 1rem;
				color: #ff9528;
			}
			.conLBottom{
				font-size: 0.5rem;
				color: #666666;
			}
			.Ts .TsList:nth-child(2n+1){
				color: #6182fd;
				background: #f5fbf9;
				border: 0.05rem #dfe2f3 solid;
			}
			.Ts .TsList:nth-child(2n+2){
				color: #fd6281;
				background: #fef5f5;
				border: 0.05rem #f8d9df solid;
			}