.item{
	width: 100%;
	height: 4.5rem;
	margin-top: 0.2rem;
	background-color: white;
}
.item:first-child{
	margin-top: 0.5rem;
}
.item_top {
	height: 2.5rem;
	width: 100%;
}
.item_title {
	 width: calc(100% - 1rem);
	 margin-left: 0.5rem;
	 text-overflow:ellipsis;
	 display: -webkit-box;
	 -webkit-box-orient: vertical;
	 -webkit-line-clamp: 1;
	 overflow: hidden;
	 font-size: 0.8rem;
	 padding-top: 0.3rem;
 }
.item_shu {
	width: calc(100% - 1rem);
	font-size: 0.6rem;
	margin-left: 0.5rem;
}
.item_date {
	width: calc(100% - 1rem);
	margin-left: 0.5rem;
	text-align: right;
}
.item_date2 {
	font-size: 0.6rem;
	font-weight: 200;
	
}
.item_detail {
	float: right;
	font-size: 0.7rem;
	font-weight: 200;
	color: #7F7F7F;
}
.item_bottom {
	width: calc(100% - 1rem);
	margin-left: 0.5rem;
	height: 8rem;
}
.item_bottom img {
	width: 100%;
	height: 6rem;
}
.item_tip {
	text-overflow:ellipsis;
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 1; 
  	overflow: hidden;
  	font-size: 0.7rem;
	font-weight: 200;
	color: #7F7F7F;
	margin-left: 0.5rem;
}
.mescroll-totop {
	bottom: 4rem;
}
.page{
	background-color: #F6F6F6;
}
.xx-top{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	background: white;
}
.xx-top > a{
	float: left;
    font-size: 1.6rem;
    /* padding-left: 0.6rem; */
    margin-left: 0.6rem;
    margin-top: 4px;
    color: darkgray;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/fanhui.png);
    background-size: 100% 100%;
}
.xx-top > span{
	margin-left: -1.5rem;
	font-size: 1rem; 
	/*font-weight: bold;*/
}
.list-container{
	position: relative;
	top: 1.7rem;
	
}






















