<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>申请提现完成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/sm.css" />
    <link rel="stylesheet" href="../css/applyCash.css">
   <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    
</head>
<body>
    <div class="wrapper">
        <a href="myCommission.html" class="header">完成</a>
        <div class="main">
            <img src="../金融频道/images/金融频道/u4.png" alt="" class="first-icon">
            <span class="first-bar">提现申请成功</span>
            <span class="second-bar">人工审核后，最快将于当天到账</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/applyCash.js"></script>
</html>