<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>贷款</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<!--<link rel="stylesheet" href="../css/shoucang.css" />-->
		<link rel="stylesheet" href="../css/daikuan.css" />
		<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
		<script type="text/javascript" src="../js/util.js" ></script>		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="../mescroll/mescroll1.min.css" />
		<script type="text/javascript" src="../mescroll/mescroll1.min.js" ></script>	
	</head>
	<body class="page" style="background-color: #F6F6F6;">
		
		<div id="mescroll" class="content mescroll" >	
			<div id="shehzhi-top" class="shehzhi-top">
				<a href="home.html"></a>
				<span>贷款大全</span>
			</div>
			<div class="AdvertisementTip">一次性申请3-5个产品，成功贷款率可高达95%</div>
			<div class="nav_tab">
				<div @click="daikClick(1)" class="nav_item">{{daikTitle.daikuanMoney}}<span class="icon icon-down"></span><span class="nav_span">|</span></div>
				<div @click="daikClick(2)" class="nav_item">{{daikTitle.daikuanType}}<span class="icon icon-down"></span><span class="nav_span">|</span></div>
				<div @click="daikClick(3)" class="nav_item">{{daikTitle.daikuanDate}}<span class="icon icon-down"></span></div>
			</div>
			<div id="list-container">
				<div class="itemBoders" v-for="item in daikuanList">
				<div class="item" @click="detailsClick(item.id,item.applyCount)">
					<div class="item-top">
						<div class="item-logo" v-bind:style="{ 'background-image': 'url(' + item.logo + ')','background-repeat':'no-repeat','background-size':'100% 100%' }"></div>
						<div class="item-loanName" v-text="item.loanName"></div>
						<div class="item-Labels">
							<div v-show="Labelstip">一标签</div>
							<div v-show="Labelstip">二标签</div>						
						</div>
						<div class="apples" id="translates" @click="detailsClicks(item.id,item.applyCount)">立即申请</div>
					</div>
					<div class="item-Con">
						<div v-text="item.maxQuota"></div>
						<!--<div v-text="item.monthRate+'/'+item.minTerm"></div>-->
						<div v-text="item.introduce"></div>
					</div>
					<div  class="item-bottom">
					<!--<div>最高可提</div>-->
					<div style="color: #9c9b9a;">日利率:{{item.monthRate+'%'}}/还款日期:{{item.maxTerm+'(月)'}}</div>
					<div class="item-applyCount">
						已有<span class="item-applyCount-Number">{{item.applyCount}}</span>人申请成功
					</div>
				</div>
				</div>
				
			</div>
			<div style="text-align: center; color: lightgrey;" v-show="ToEnd">没有更多的数据了</div>
			</div>

			<!-- 贷款金额 -->
		<div id="modalPop" v-bind:class="modalClass" @click="bgclosePopup">
			<div class="conblock">
				<div v-bind:class="item.claName" @click="closePopup(item.id,item.name)" v-for="item in popList" v-text="item.name"></div>
			</div>
		</div>				
			
		</div>	
	</body>
	<script src="../js/vue-lazyload.js"></script>   <!--//有问题-->
	<script type="text/javascript" src="../js/daikuan.js" ></script>
</html>
