<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../css/sm.min.css" />
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/mui.css"/>
</head>
	<body style="background: white;">
		<div style="    border-bottom: 1px solid rgba(236,236,236,1);">
			<div style="height: 2.5rem; display: flex;align-items: center;justify-content: center;" id="huihuiqu">
				<div>完成认证</div>	
			</div>
		</div>
		<div style="height: 12rem; display: flex;align-items: center;justify-content: center;" id="huihuiqu">
				<div style="width: 110px;height: 110px;border-radius: 50%;background: url(../img/checkbox_select.png) no-repeat; background-size: 100% 100%;"></div>	
		</div>
		<div style="height: 3rem; display: flex;align-items: center;justify-content: center;" id="huihuiqu">
				<div style="width: 184px;height: 49px;border: 1px #FF5201 solid; background: #FF5201 ; color: white;border-radius: 8px;display: flex;align-items: center;justify-content: center;">
					<a href="home.html" style="color: white;">返回首页</a>
				</div>	
		</div>
	</body>
<script type='text/javascript' src='../js/zepto.min.js' charset='utf-8' ></script>
<script type="text/javascript" src="../js/md5.min.js"></script>
<script type="text/javascript" src="../js/util.js"></script>
<script type="text/javascript" src="../js/mui.js"></script>
<script type='text/javascript' src='../js/sm.min.js' charset='utf-8' ></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script>
	
</script>
</html>
