<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>邀请记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/sm.css" />
    <link rel="stylesheet" href="../css/invitedRecord.css">
</head>
<body>
    <div class="wrapper" id="invitedRecord">
        <a href="myCommission.html">&lt;</a>
        <div class="header">二级推广记录</div>
        <div class="line-gray"></div>

        <div class="main">
           <div class="more-record">
                <div v-for="(item,index) in invitationArr2">
                    <div class="line-gray"></div>
                        <div class="to-account">
                        <div class="account-header">
                            <div class="account-box">
                                <span class="first-bar" v-text="index+1+'，'+item.loanName"></span>
                                <img :src="item.logo" alt="" class="box">
                            </div>
                           </div>
                        <div class="account-body">
                            <div class="account-bar">
                                <div class="title-bar">
                                    <span class="span-first">放款时间</span>
                                    <span v-text="item.actualTime"></span>
                                </div>
                                <div class="title-bar">
                                    <span class="span-first" v-text="item.bonusType==0?'CPS':'CPA'"></span>
                                    <span v-text="item.bonusType==0? item.abonusRatio2+'%':'1'" v-if="CP1">0</span><!--一级会员一级分拥CPS--> 
                                    <span v-text="item.bonusType==0? item.abonusRatio22+'%':'1'" v-if="CP2">0</span><!--二级会员一级分拥CPS--> 
                                    <span v-text="item.bonusType==0? item.abonusRatio32+'%':'1'" v-if="CP3">0</span><!--三级会员一级分拥CPS--> 
                                </div>
                            </div>
                            <div class="account-bar">
                                <div class="title-bar">
                                    <span class="span-first" v-text="item.bonusType==0?'放款金额':'单价'"></span>
                                    <span v-text="item.bonusType==0? item.channelData+'￥':item.abonusRatio2+'￥'" v-if="CP4"></span>
                                    <span v-text="item.bonusType==0? item.channelData+'￥':item.abonusRatio22+'￥'" v-if="CP5"></span>
                                    <span v-text="item.bonusType==0? item.channelData+'￥':item.abonusRatio32+'￥'" v-if="CP6"></span>
                                </div>
                                <div class="title-bar">
                                    <span class="span-first" >应收佣金</span>
                             		<span v-text="item.bonusType==0? (item.abonusRatio2/100)*item.channelData+'￥':item.abonusRatio2+'￥'" v-if="CP7"></span>
                             		<span v-text="item.bonusType==0? (item.abonusRatio22/100)*item.channelData+'￥':item.abonusRatio22+'￥'" v-if="CP8"></span>
                             		<span v-text="item.bonusType==0? (item.abonusRatio32/100)*item.channelData+'￥':item.abonusRatio32+'￥'" v-if="CP9"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/util.js" ></script>
<script src="../js/vue-lazyload.js"></script>
<script type="text/javascript" src="../js/invitedRecord2.js"></script>
</html>