<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/Mdetails.css"/>
	</head>
	<body class="page">
	<div id="Mdetails-top" class="Mdetails-top">
		<a href="xiaoxi.html"> < </a>
		<span id="title"></span>
	</div>
		<div id="detailsContent" class="detailsContent">
			<div id="Con" ></div>
			<div id="Time"></div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/sm.min.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/util.js" ></script>
	<script type="text/javascript" src="../js/Mdetails.js"></script>
</html>
