<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>日历</title>
		<!-- H5页面窗口自动调整到设备宽度，并控制用户缩放页面 -->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- IOS中禁用将数字识别为电话号码/忽略Android平台中对邮箱地址的识别 -->
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" type="text/css" href="../libs/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../libs/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../libs/calendar_base.css" />
		<link rel="stylesheet" type="text/css" href="../css/showcase.css" />


	</head>
	<style>
		.riliTxt{
			width: 100%;
			height: 150px;
			border: 1px gray solid;
			margin-top: 2px;
			line-height: 150px;
			text-align: center;
			color: darkolivegreen;
		}
	</style>
	<body id="rili">
		<div  style=" position: fixed; top: 0;width: 100%;height: 2rem;text-align: center;line-height: 2rem;background: white;">
			<a href="myCommission.html" style="float: left;font-size: 1.5rem;padding-left: 0.6rem; color: darkgray;"> < </a>
			<span style="margin-left: -1.5rem;font-size: 1rem;">邀请日历</span>
		</div>
		<div class="mui-content">
			<div class="em-journal-title">
				<div class="em-per-block pre">
					<span class="mui-icon mui-icon-arrowleft"></span>
					<span>上一月</span>
				</div>
				<div class="em-per-block mid">
					<span>...</span>
				</div>
				<div class="em-per-block next">
					<span>下一月</span>
					<span class="mui-icon mui-icon-arrowright"></span>
				</div>
			</div>

			<!--日历容器-->
			<div id="calendar">

			</div>
		</div>

		<!--返回今天-->
		<div class="backToday">
			返回今天
		</div>
		<div class="riliTxt" id="made"></div>
	</body>
	<script src="../libs/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../libs/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../libs/mustache.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../libs/calendar_base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/calendar_showcase.js" type="text/javascript" charset="utf-8"></script>
</html>
