<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>设置</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/wode.css" />
		<link rel="stylesheet" href="../css/shezhi.css"/>	
	</head>
	<body class="page">
		<div id="app" class="content">
			<div id="shehzhi-top" class="shehzhi-top">
				<a href="wode.html"> < </a>
				<span>设置</span>
			</div>
			<!--<div class="line" v-if="userId != ''">-->
				<!--<a href="forgetpasswd.html">-->
					<!--<img src="../img/xiugai.png" />-->
					<!--<div class="line_title">修改密码</div>-->
				<!--</a>-->
			<!--</div>-->
			<div class="content-con">
				<div class="line">
					<a href="help.html">
						<img src="../img/gywm.png" />
						<div class="line_title">帮助中心</div>
					</a>
				</div>
			</div>

			<!--<div class="line">-->
				<!--<a href="yjfk.html">-->
					<!--<img src="../img/yjfk.png" />-->
					<!--<div class="line_title">意见反馈</div>-->
				<!--</a>-->
			<!--</div>-->
			<div v-if="userId != ''" @click="loginOutClick" class="login_out">退出</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/sm.min.js"></script>
	<script type="text/javascript" src="../js/util.js" ></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/shezhi.js"></script>
</html>
