
.user_info {
	width: 100%;
	height: 10.3rem;
	background-color: white;
	position: relative;
}
.info_ui{
	border: 1px solid #d7dadf;
	/*position: fixed;*/
	position: absolute;
	top: 1px;
	right: 18px;
	padding: 5px 8px;
	text-align: center;
	color: #fff;
	border-radius: 17px;
	z-index: 1;
}
.user_info .bg_img {
	width: 100%;
	height: 100%;
}
.info {
	border: 1px solid #d7dadf;
	border-radius: 9px;
	position: absolute;
	background: #fff;
	margin-top: 53px;
	width: 90%;
	height: 80px;
	top: 2rem;
	left: 1.1rem;
	right: 0;
	bottom: 0;
}
.info_li{
	height: 1.5rem;
	line-height: 1.5rem;
	color: white;
	text-align: center;
	font-size: 0.9rem;
	font-weight: bold;
}

.Member{
	position: absolute;
    top: 0.3rem;
    left: 0.5rem;
    color: blanchedalmond;
}


.info_img {
	width: 3.7rem;
	height: 3.7rem;
	border: solid 0.15rem rgb(255,167,148);
	border-radius: 50%;
}
.info_name {
	position: absolute;
	left: 4.3rem;
	top: 0.8rem;
	font-size: 0.8rem;
	color: white;
	font-weight: 200;
}
.info_tel {
	position: absolute;
	left: 4.3rem;
	top: 2rem;
	font-size: 0.8rem;
	color: white;
	font-weight: 200;
}
.info_ok {
	position: absolute;
	right: 2rem;
	top: 1.5rem;
	font-size: 0.7rem;
	color: #ff3333;
	font-weight: 200;
	padding: 0.1rem 0.4rem;
	background-color: rgba(255,255,255,0.50);
	border-radius: 0.75rem;
}
.info span {
	position: absolute;
	right: 1rem;
	top: 1.6rem;
	color: white;
	font-weight: bold;
}
.line {
	width: 100%;
	height: 2.3rem;
}
.line img {
	float: left;
	margin-left: 1rem;
	width: 2.2rem;
	height: 2.2rem;
	margin-top: 0.4rem;
	margin-right: 0.2rem;
}
.line_title {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	float: left;
	color: gray;
	padding-left: 0.2rem;
	font-size: 0.8rem;
	font-weight: 200;
	height: 2.95rem;
	line-height: 2.95rem;
	border-bottom: solid 0.05rem #F6F6F6!important;
	width: calc(100% - 4rem);
	
	
}
.badge {
	background-color: #FF0000;
	color: white;
	font-size: 0.6rem;
	margin-left: 0.3rem;
	padding: 0.1rem 0.4rem;
	font-weight: normal;
}

.last_one {
	margin-bottom: 7.5rem;
}
.popup-about{
	background-color: rgba(0,0,0,0.4);
}
.content-block {
	width: 13.5rem;
	height: 12.6rem;
	background-color: white;
	border-radius: 0.6rem;
	margin: 40% auto;
	text-align: center;
	padding: 0;
}
.popup_title {
	height: 2.6rem;
	line-height: 1.5rem;
	font-size: 0.5rem;
	/*color: #030303;*/
}
.popup_title ul li{
	height: 1rem;
	text-align:center;
	list-style:none;
}
.node{
	color: #5B5B5B;
}
.dow{
	color: #030303;
	font-size: 0.65rem;
}
.content-block img{
	width: 11.2rem;
	height: 7.2rem;
}
.popup_btn {
	width: 100%;
	border-top: solid 0.005rem #c1c1c1;
	height: 2.5rem;
	line-height: 2.5rem;
}
.login_out {
	background: #FF5201;
	box-shadow: 0 0.3rem 0.5px 0 #FFBB9C;
	border-radius: 1rem;
	width: 15rem;
	height: 2rem;
	line-height: 2rem;
	color: white;
	font-size: 0.8rem;
	text-align: center;
	position: fixed;
	bottom: 1.5rem;
	left: calc(50% - 7.5rem);
}
.navB{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 2.75rem;
	border-top: 1px f2f2f2 solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	opacity: 1;
	z-index: 999;
	border: 1px #F7F7F7 solid;
}
.navB .navList{
	width: 25%;
	font-size: 0.7rem;
}
.navList_OneIMG{
	width: 22%;
	height: 1rem;
	background: url(../img/barH.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
.navList_TwoIMG{
	width: 22%;
	height: 1rem;
	background: url(../img/barW.png)no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
.navList_StreeIMG{
	width: 20%;
	height: 1rem;
	background: url(../img/barS.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
.navList_FrouIMG{
	width: 22%;
	height: 1rem;
	background: url(../img/barU1.png)no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
.navList_Text{
	text-align: center;
	color: #888888;
	font-size: 0.6rem; 
	padding-top: 0.1rem;
}
.actives{
	color: #f85928;
}
.youhui{
	width: 8rem;
	height: 2rem;
	background: url(../img/xiaotanchuang.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 41%;
	margin-right: 4.55rem;
	position: absolute;
	bottom: 2.8rem;
}
.Wlogo{
	width: 3.8rem;
	height: 3.5rem;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}
.Wsheet{
	background:url(../img/wodedi.png) no-repeat;
	background-size: 100% 100%;
    height: 8.75rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 0.4rem;
    position: relative;
    top: 1.85rem;
}
.Wcon{
	width: 100%;
    margin: 0 auto;
    position: relative;
    top: -5.5rem;
}
.wodeTOP{
	width: 100%;
	height: 3.5rem;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wodeTOP .wodeTOP_L{
	width: 1.2rem;
	height: 0.8rem;
	background: url(../img/wodeYJ.png);
	background-size: 100% 100%;
	margin-left: 1.25rem;
}
.wodeTOP .wodeTOP_R{
	width: 1.2rem;
	height: 1.1rem;
	background: url(../img/wodeSZ.png);
	background-size: 100% 100%;
	margin-right: 1.25rem;
}
.wodeBM{
	width: 100%; 
	height: 8rem;
	background: url(../img/wodeIMG.png) no-repeat;
	background-size: 100% 100%;
}
.WsheetTX{
	width: 100%;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 2.95rem;
}
.WsheetTXIMG{
	width: 1.2rem;
	height: 1.1rem;
	background: url(../img/wodeHg.png) no-repeat;
	background-size: 100% 100%;
	margin-right: -0.5rem;
	z-index: 999;
}
.WsheetIPhone{
	width: 10.25rem;
	height: 1.5rem;
	background: url(../img/wodejux.png) no-repeat;
	background-size: 100% 100%;
	letter-spacing: 2px;
}
.WsheetErweima{
	width: 2rem;
	height: 2rem;
	background: url(../img/gongzH.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
.Wcon2{
	width: 100%;
	height: 4rem;
	background: white;
	margin-top: 1.7rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Wcon2T{
	width: 45%;
	height: 2.5rem;
}
.Wcon2L{
	width: 100%;
	height: 2.5rem;
	background: url(../img/wodejux.png)no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;    
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Wcon2R{
	width: 100%;
	height: 2.5rem;
	background: url(../img/wodeYjux.png)no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;    
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Wcon2L_BM{
	width: 2rem;
	height: 1.5rem;
	background: url(../img/wodeHU.png)no-repeat;
	background-size: 100% 100%;
	margin-right: 0.5rem;
}
.Wcon2R_BM{
	width: 2rem;
	height: 1.5rem;
	background: url(../img/wodeRm.png)no-repeat;
	background-size: 100% 100%;
	margin-right: 0.5rem;
}
.Wcon2Ttxt{
	font-size: 0.9rem;
	color: white;
}
.Wcon2ConT{
	font-size: 0.5rem;;
	color: white;
	width: 2.5rem;
	height: 1rem;
	line-height: 1rem;
	background: rgb(250,173,25);
	text-align: center;
	position: relative;
	top: -110%;
	left: 73%;
	font-weight: 100;    
	border-radius: 5px 5px 0px 0px;
	animation: wuzhe infinite 1.5s;
    animation-fill-mode: forwards;
}
@keyframes wuzhe
{
	0%{
		transform:translateY(0);
	}
	50%{
		transform:translateY(5px);
	}
	100{
		transform:translateY(0);
	}
}

.Wcon3{
	width: 100%;
	height: 4rem;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	top: 0.5rem;
}
.Wcon4{
	width: 100%;
	height:4rem;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	top: 0.55rem
}
.wodeBMD{
	width: 33.1%;
	height: 4rem;
	background: white;
}
.Wcon3CH{
	width: 1.5rem;
	height: 2rem;
	background: url(../img/wodeJL.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 0.8rem;
}
.Wcon3text{
	text-align: center;
	color: #726f6f;
	font-size: 0.75rem;
	margin-top: -0.55rem;
}
.Wcon3KF{
	width: 1.8rem;
	height: 2rem;
	background: url(../img/wodeKF.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 0.8rem;
}
.Wcon3FK{
	width: 1.5rem;
	height: 2rem;
	background: url(../img/wodeFK.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 0.8rem;
}
.Wcon3BZ{
	width: 1.5rem;
	height: 2rem;
	background: url(../img/wodeBZ.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 0.8rem;
}
.Wcon3SC{
	width: 1.8rem;
	height: 2rem;
	background: url(../img/wodeSC.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 0.8rem;
}
.WsheetGZtext{
	width: 3.5rem;
	height: 1.05rem;
	line-break: 1.05rem;
	background: #f76f41;
	font-size: 0.6rem;
	position: absolute;
	top: -0.45rem;
	left: 54%;
	text-align: center;
	border-radius: 5px 5px 0 0;
	color: white;
}
