<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/sm.css" />
    <link rel="stylesheet" href="../css/detailsPage.css">
    <link rel="stylesheet" href="../css/invitation.css">  
    <style>
    	[v-cloak]{
		display: none;
		}	
    </style>
</head>


<body>
<div class="wrapper" id="detailsPage">
    <div class="header" v-cloak style="display: none;">
        <a href="javascript:history.go(-1);" class="first-bar"></a>
        <span class="second-bar">贷款详情页</span>
        <img>
    </div>
    <div class="detailCon">
    	<div class="detailConBM"></div>
    	<div class="detailC">
    		<div class="detailCTop" v-cloak>
    			<div class="detailCTopL">
    				<div class="detailCTopL_Name" v-text="dataObj.loanName"></div>
    				<div class="detailCTopL_tip" v-text="dataObj.introduce"></div>
    			</div>
    			<div class="detailCTopR">
    				<div class="detailCTopRXX" @click="xiaoxis"></div>
    				<div class="detailCTopRSC" @click="shoucang" v-bind:class="{ actives: isActive }"></div>
    			</div>
    		</div>
    		<div class="detailCxinxi" v-cloak>
    			<div class="detailCxinxiOne">
    				<div class="detailCxinxiLogo" v-bind:style="{ 'background-image': 'url(' + dataObj.logo + ')','background-repeat':'no-repeat','background-size':'100% 100%' }"></div>
    				<div class="detailCxinxiN">{{dataObj.loanName}}</div>
    				<div>
    					<div class="detailCPf">综合评分</div>
    					<div class="detailCxingxing">    						
                        		<div v-for="item in 5" class="detailCxingxing_img"></div>                   	
    					</div>
    				</div>
    			</div>
    			<div class="detailCxinxiTwo" v-cloak>
    				<div class="detailCxinxiTwoText">可申请额度(元)</div>
    				<div class="detailCxinxiTwoED" v-text="dataObj.minQuota+'-'+dataObj.maxQuota"></div>
    			</div>
    			<div class="detailCxinxiSrtee" v-cloak>
    				<div class="detailCxinxiTwoText">平均申请额度(元)</div>
    				<div class="detailCxinxiTwoED" v-text="dataObj.avgQuota"></div>
    			</div>
    			<div class="detailCxinxiFrou" v-cloak>
    				<div class="detailCxinxiFrou1">
    					<div class="detailCxinxiFrou1T">
    						<div class="detailCxinxiFrou1IMG"></div>
    						<div class="detailCxinxiFrou1Text">贷款{{dataObj.unitMonthRate}}利率</div>
    						<div class="detailCxinxiFrou1TIP" v-text="dataObj.monthRate+'%'"></div>
    					</div>
    					<div class="detailCxinxiFrou1B">
    						<div class="detailCxinxiFrou1IMG"></div>
    						<div class="detailCxinxiFrou1Text">贷款成功率</div>
    						<div class="detailCxinxiFrou1TIP" v-text="dataObj.successRate+'%'"></div>
    					</div>
    				</div>
    				<div class="detailCxinxiFrou2">
    					<div class="detailCxinxiFrou1T">
    						<div class="detailCxinxiFrou1IMG"></div>
    						<div class="detailCxinxiFrou1Text">贷款期限</div>
    						<div class="detailCxinxiFrou1TIP" v-text="dataObj.minTerm+'-'+dataObj.maxTerm+dataObj.unitTerm"></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="detailCtiaojian" v-cloak>
    			<div class="detailCxinxiOne">
    				<div class="detailCtiaojianTxt">申请条件</div>
    				<div>
    					<div class="detailCPf">条件简单度</div>
    					<div class="detailCxingxing">    						
                        		<div v-for="item in 5" class="detailCxingxing_img"></div>                   	
    					</div>
    				</div>
    			</div>
    			<div class="detailCtiaojianER" v-for="(item,index) in dataObj.applyCondition">
    				<div class="detailCtiaojianYuan">{{index+1}}</div>
    				<div class="detailCtiaojiantip">{{item}}</div>    				
    			</div>
    		</div>
    		<div class="detailCtiaojian" v-cloak>
    			<div class="detailCxinxiOne">
    				<div class="detailCtiaojianTxt">申请所需材料</div>
    				<div>
    					<div class="detailCPf">材料简单度</div>
    					<div class="detailCxingxing">    						
                        		<div v-for="item in 5" class="detailCxingxing_img"></div>                   	
    					</div>
    				</div>
    			</div>
    			<div class="detailCtiaojianER" v-for="(item,index) in dataObj.certifiedList">
    				<div class="detailCtiaojianYuan">{{index+1}}</div>
    				<div class="detailCtiaojiantip">{{item.loan_key}}</div>	
    			</div>
    		</div>
    		<div class="detailCtiaojian" v-cloak>
    			<div class="detailCxinxiOne">
    				<div class="detailCtiaojianTxt">产品介绍</div>
    				<div>
    					<div class="detailCPf">产品质量</div>
    					<div class="detailCxingxing">    						
                        		<div v-for="item in 5" class="detailCxingxing_img"></div>                   	
    					</div>
    				</div>
    			</div>
    			<div class="canpjieshao" v-text="dataObj.loanInfo"></div>
    		</div>
    		<div class="jingxuan" style="color: black;" v-cloak>
    			<span>—</span><span style="padding-left: 0.25rem;padding-right: 0.25rem;letter-spacing: 0.2rem;">为你精选</span> <span>—</span>
    		</div>
    		<div class="jingxuanCanpin" v-cloak>
    			<div class="jingxuanCanpinS" v-for=" item in datas" @click="detailsClick(item.id,item.applyCount,item.loanName)" v-if="datas.length>0">
    				<div class="jingxuanCanpintop">
    					<div class="jingxuanCanpinT" v-bind:style="{ 'background-image': 'url(' + item.logo + ')','background-repeat':'no-repeat','background-size':'100% 100%' }"></div>
    					<div class="jingxuanCanpinB">{{item.loanName}}</div>
    				</div>
    				<div class="jingxuanCanpintext" v-text="item.minQuota+'-'+item.maxQuota"></div>
    				<div class="jingxuanCanpintext" v-text="item.introduce"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="lijishengq" v-cloak>
    	<div class="lijishengqCon" @click="moneyApply">
    		<div class="lijishengqConTxt">立即申请</div>
    		<div class="lijishengqConRenshu">已成功申请{{dataObj.applyCount}}人</div>
    	</div>
    </div>

</div>
</body>
<!--<script src="../js/vue-lazyload.js"></script>-->
<script src="../js/clipboard.min.js"></script>
<script src="../js/qrcode.min.js"></script>
<!--<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>-->
<script type="text/javascript" src="../js/zepto.min.js"></script>
<!--<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
<script type="text/javascript" src="../js/sm.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script type="text/javascript" src="../js/vue.js"></script>
<!--<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>-->
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/util.js" ></script>
<script type="text/javascript" src="../js/detailsPage.js?v=2.0"></script>
</html>