<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>我的</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--<link rel="stylesheet" href="../css/sm.css" />-->
	<link rel="stylesheet" href="../css/sm.min.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/mui.css" />
	<link rel="stylesheet" href="../css/weui.min.css"/>
	<link rel="stylesheet" href="../css/guanzhuGZH.css" />
</head>

<body class="page" style="background-color: #f7f3f2;">
<div id="app" class="content">
	<div class="gztop"></div>
	<div class="gzCon">
		<div class="gzConTop">如何关注钱乙爸爸微信公众号</div>
		<div class="gzConBtoom">
			<div class="xiaoBt">方式一</div>
			<div class="xiaoT1">打开微信，搜索微信号“<span id="foo">gh_1bb4bd1a3a10</span >”<span class="btn" style="color: #fa8a6d;"@click="copyText" data-clipboard-action="copy" data-clipboard-target="#foo">复制微信号</span>，即 可关注！</div>
			<div class="xiaoBt2">方式二</div>
			<div class="xiaoT1">1.截图保存点点有借微信二维码 </div>
			<div class="xiaoT1">2.打开微信“扫一扫”，扫描此截图，点击关注即可！</div>
		</div>
		
	</div>
</div>
</body>
<script type='text/javascript' src='../js/mui.min.js' ></script>
<script type='text/javascript' src='../js/zepto.min.js' ></script>
<script type='text/javascript' src='../js/sm.min.js' ></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/util.js" ></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/weui.min.js" ></script>
<script type="text/javascript" src="../js/clipboard.min.js"></script>
<script type="text/javascript" src="../js/guanzhuGZH.js"></script>
</html>