<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>客服中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/wode.css" />
		
		<style>
			
.page{
	background-color: #F6F6F6;
}

.fb-top{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	background: white;
}
.fb-top > a{
	float: left;
	font-size: 1.6rem;
	padding-left: 0.6rem; 
	color: darkgray;
	width: 1.3rem;
	height: 1.3rem;
	background: url(../img/fanhui.png);
	background-size: 100% 100%;
	margin-top: 0.35rem;
    margin-left: 11px;
}
.fb-top > span{
	margin-left: -2.5rem;
	font-size: 1rem; 
	/*font-weight: bold;*/
}


		</style>
	</head>
	
	<body class="page" style="background: white;">
	<div id="fb-top" class="fb-top" style="display: none;">
		<a href="wode.html">  </a>
		<span>客服中心</span>
	</div>
		<div style="width:100%;height: 7.5rem;margin: 0 auto; background: url(../img/weixnIMG.png)no-repeat;background-size: 100% 100%;position: relative;"></div>
		<div style="position: relative; bottom: -3.1rem;text-align: center;">客服微信：xiaodaidaiaigongzhuo</div>
		
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/sm.min.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/util.js" ></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	
</html>
