<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>网黑</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--<link rel="stylesheet" href="../css/sm.css" />-->
	<link rel="stylesheet" href="../css/sm.min.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/swiper-4.1.0.min.css" />
	<link rel="stylesheet" href="../css/mui.css" />
	<link rel="stylesheet" href="../css/NetBlack.css"/>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
</head>
	<body style="overflow-y: scroll;background: white;" >
		<div id="NetBlack">
		<div class="NetBlackTip" style="display: none;">
			<div class="NetBlackTip-L" style="font-size: 15px;">
				<a href="#" style="color: #5056c7;">返回首页</a>
			</div>
			<div class="NetBlackTip-R" style="margin-left: 2.65rem;">
				<div>可乐花黑户诊断</div>
			</div>	
		</div>
		<div  style="width: 100%;margin-bottom: 2.8rem;" >
			<div class="NetBlackCON">
				
			</div>
			<div class="NetBlackCONBTM">
				<!--<ul>
					<li>网贷被拒，90%原因在这里</li>
					<li>30秒查清是否黑名单和原因</li>
					<li>覆盖全国95%的网贷机构</li>
					<li>55.7万用户已经成功检测</li>
				</ul>-->
				<div class="beijuText">/// 被拒？看看你中招了没     ///</div>
				<div class="wangdaixinxi">
					<div class="wangdaiIMG"></div>
					<div class="wangdaiText">准确率达99%</div>
				</div>
				<div class="wangdaixinxi">
					<div class="wangdaiIMG"></div>
					<div class="wangdaiText">个人信息安全保密</div>
				</div>
				<div class="wangdaixinxi">
					<div class="wangdaiIMG"></div>
					<div class="wangdaiText">通过专业引导,借款申请成功率达79%</div>
				</div>
				<div class="wangdaixinxi">
					<div class="wangdaiIMG"></div>
					<div class="wangdaiText">覆盖全国99%的网贷</div>
				</div>
				<div style="position: relative;">
					<div class="yijian" @click="yijianBtn">一键检测诊断黑名单</div>
					<div class="youhui" style="display: none;">限时五折</div>
				</div>
				
				<div class="jiedu" style="justify-content: space-between;">
					<div  class="zhnduanbaogao" @click="lishibaog">历史诊断报告</div>
					<div class="yansghi" @click="yangbenbaogao">诊断报告样式和解读</div>
				</div>
			</div>
			<div class="labas">
				<div class="laba"></div>
				<div class="swiper-container" id="swiper2" style="width: 75%;"></div>
			</div>
			<div class="foots">
				<div>
					<div class="footsIMG1" ></div>
					<p class="footsP" >数据权威可信</p>
				</div>
				<!--<p class="yishu"></p>-->
				<div>
					<div class="footsIMG2" style="width: 56%;"></div>
					<p class="footsP">银行级信息安全</p>
				</div>
				<!--<p class="yishu"></p>-->
				<div>
					<div class="footsIMG3"></div>
					<p class="footsP">敏感信息保护</p>
				</div>				
			</div>
		</div>

		
		
</div>
</body>
<script type="text/javascript" src="../js/md5.min.js"></script>
<script type="text/javascript" src="../js/util.js"></script>
<script type="text/javascript" src="../js/mui.js"></script>
<script type='text/javascript' src='../js/zepto.min.js' charset='utf-8'></script> 
<script type="text/javascript" src="../js/swiper-4.1.0.min.js"></script>
<script type='text/javascript' src='../js/sm.min.js' charset='utf-8'></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/NetBlack.js"></script>
<script>
	
</script>
</html>
